body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
               'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
               'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #6DC0C8;
  --secondary: #93E0E7;
  --light: #eff9fb;
  --gray: #AAA7B8;
  --dark-text: #282C4B;
  --background-color: #F6FAFF;
  --white: #ffffff;
  --navbg: #EEF1F3;
  --navtext: #BDCCD3;
}

.app {
  display: flex;
}

.main-content {
  margin-left: 22rem;
  padding: 2rem 1rem;
  flex-grow: 1;
}