@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --primary: #6DC0C8;
  --secondary: #93E0E7;
  --light: #eff9fb;
  --gray: #AAA7B8;
  --dark-text: #1F1F3F;
  --white: #ffffff;
  --navbg: #EEF1F3;
  --navtext: #BDCCD3;
  --pink: #FF707F;

  --btn_lightgar: #ACE1E3;

  --font-inter: 'Inter', sans-serif;
  --font-source-sans: 'Source Sans 3', sans-serif;
  --font-courgette: 'Courgette', cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: var(--font-source-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

.app {
  display: flex;
}

.main-content {
  margin-left: 19rem;
  flex-grow: 1;
}

#gallery {
  scroll-margin-top: 30px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 5rem;
    padding: 1rem 2rem;
  }
}