.manage-website {
  padding-left: 0;
  font-family: 'Roboto', sans-serif;
}

.manage-website .container {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: flex-start;
}

.manage-website .icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(90deg, #A7EFF6 0%, #76C9D1 100%);
  box-shadow: 0px 4px 16px 0px rgba(206, 214, 220, 0.80);
  color: #fff;
  padding: 10px;
  margin-right: 18px;
}

.manage-website h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary);
  margin: 0;
}

.icon-container svg {
  width: 16px;
  height: 16px;
  stroke-width: 1px;
}

.mw-nav {
  display: flex;
  background-color: var(--navbg);
  border-radius: 999px;
  padding: 0.5rem;
  width: fit-content;
  margin: 0 auto 2.5rem;
}

.mw-nav button {
  background: none;
  border: none;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  color: var(--navtext);
  font-weight: normal;
  width: auto;
  cursor: pointer;
  transition: background 0.2s, color 0.3s;
}

.mw-nav button:hover {
  color: var(--dark-text);
  font-weight: 600;
}

.mw-nav button.active,
.mw-nav button:focus {
  background-color: #fff;
  color: var(--dark-text);
  font-weight: 600;
}

/* Unified content container style */
.tab-content-container {
  width: 80%;
  margin: 0 auto 2rem;
  max-width: 1000px;
}