.manage-website {
  padding-left: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.manage-website .container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: flex-start;
}

.manage-website .icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #A7EFF6, #76C9D1);
  color: var(--white);
  padding: 10px;
  border-radius: 6px;
  margin-right: 18px;
}

.manage-website h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary);
  margin: 0;
}

.icon-container svg {
  width: 16px;
  height: 16px;
  stroke-width: 1px;
}

.mw-nav {
  display: flex;
  background-color: var(--navbg);
  border-radius: 999px;
  padding: 0.5rem;
  width: fit-content;
  margin: 0 auto 2.5rem;
}

.mw-nav button {
  background: none;
  border: none;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  color: var(--navtext);
  font-weight: normal;
  width: 120px;
  cursor: pointer;
  transition: background 0.2s, color 0.3s;
}

.mw-nav button:hover {
  color: var(--dark-text);
  font-weight: 600;
}

.mw-nav button.active,
.mw-nav button:focus {
  background-color: var(--white);
  color: var(--dark-text);
  font-weight: 600;
}

/* Unified content container style */
.tab-content-container {
  background: var(--white);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 80%;
  margin: 0 auto 2rem;
  max-width: 1000px;
  min-height: 28rem;
}

.tab-content-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.tab-content-header button {
  background-color: var(--white);
  color: var(--dark-text);
  border: 1px solid #cbd5e1;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.tab-content-list {
  margin-top: 1rem;
}

.services-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

/* Services-specific styles */
.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.service-item {
  background: var(--light-gray);
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.service-item img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 2rem;
}

.serviceText {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.service-item label {
  color: var(--gray);
  font-size: 14px;
}

.service-item .serviceName {
  color: var(--dark-text);
  font-size: 14px;
  color: var(--dark-text);
  width: 240px;
  padding: 18px;
  border-radius: 6px;
  border: 1px solid #CED6DC;
  background-color: #F6F7F8;
}

.service-actions button {
  font-weight: bold;
  padding: 0.5rem;
  width: 5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.service-actions .updateButton{
  margin-right: 6px;
  border: 2px solid var(--dark-text);
  background-color: var(--dark-text);
  color: var(--white);
}

.service-actions .updateButton:hover{
  border: 2px solid var(--dark-text);
  background-color: transparent;
  color: var(--dark-text);
}

.service-actions .deleteButton{
  border: 2px solid var(--dark-text);
  background-color: var(--dark-text);
  color: var(--white);
}

.service-actions .deleteButton:hover{
  border: 2px solid var(--dark-text);
  background-color: transparent;
  color: var(--dark-text);
}


/*Buttons */
.editButton{
  padding: 8px 16px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #CFDEE5;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.editButton
.buttonText {
  margin-right: .5rem;
  font-size: .8rem;
  font-weight: bold;
  color: var(--dark-text); 
}

.editButton
.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: var(--dark-text); 
  font-size: .8rem;
}

.cancelButton{
  width: 118px;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid #1A1D38;
  font-size: .7rem;
  font-weight: bold;
  color: var(--dark-text); 
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.saveButton{
  width: 118px;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: var(--dark-text);
  border: 2px solid #1A1D38;
  font-size: .7rem;
  font-weight: bold;
  color: var(--white); 
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Add Service Form */
.add-service-form {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 16rem;
  margin: 1rem 0; 
}

.add-service-form input[type="file"] {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #CFDEE5;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
}

.add-service-form input[type="text"] {
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid #CFDEE5;
  font-size: 12px;
  color: var(--dark-text);
  outline: none;
  transition: border-color 0.3s;
}

.add-service-form input[type="text"]:focus {
  border-color: #76C9D1;
}

.add-service-form button {
  padding: 0.75rem 1.5rem;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  transition: background-color 0.2s ease;
}

.add-service-form button:hover {
  background-color: rgb(28, 163, 175);
}

/* Styling for the file input */
.add-service-form input[type="file"]::file-selector-button {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
  border-radius: 6px;
  font-weight: bold;
  margin-right: 5px;
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-service-form input[type="file"]:hover::file-selector-button {
  background-color: #e7efef;
}