.pageWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 7rem 2rem 2rem;
  min-height: 105dvh;
  scroll-margin-top: 8rem;
}

.headingSection {
  text-align: center;
  margin-bottom: 2.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  color: #282C4B;
  margin-bottom: 0.5rem;
}

.subtext {
  font-size: 0.95rem;
  color: #374151;
}

/* Main layout container */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  flex-wrap: wrap;
  padding: 0;
}

/* Responsive size control for calendar and time selector */
.calendarWrap,
.timeWrap {
  flex: 1;
  min-width: 320px;
  max-width: 480px;
}

.timeWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* align to top */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.getAppointmentBtn {
  border-radius: 8px;
  border: 2px solid #5BA9B1;
  background: #6DC0C8;
  box-shadow: 0px 4px 10px 0px rgba(186, 186, 186, 0.50);
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.getAppointmentBtn:hover {
  background-color: #67b7be;
}

.getAppointmentBtn:disabled {
  background-color: #dee0e4;
  border: 2px solid #adafb3;
  color: #919396;
  cursor: not-allowed;
  opacity: 0.7;
}

.spinner {
  animation: spin 1s linear infinite;
  font-size: 1.2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
