.footer {
  width: 100%;
}

.footerTop {
  background-color: #fff;
  color: #282C4B;
  text-align: center;
  padding: 2rem 1rem;
}

.footerLogo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.footerSocials {
  margin: 1rem 0 .5rem;
}

.followText {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  letter-spacing: 1px;
}

.socialIcons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  font-size: 1.2rem;
}

.socialIcons a {
  color: #282C4B;
  transition: opacity 0.2s;
}

.socialIcons a:hover {
  opacity: 0.8;
}

.footerBottom {
  background-color: #191b30;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
}