.outerWrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100dvh;
  background-color: #F5F5F5;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 1.4rem 1rem;
}

.left {
  width: 55%;
  min-width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.welcome {
  font-size: 2.4rem;
  font-family: var(--font-courgette);
  color: #6DC0C8;
  font-weight: 700;
  margin: 3rem auto 2rem;
  text-align: center;
}

.subtext {
  font-size: 0.9rem;
  font-weight: 600;
  color: #282C4B;
  text-align: center;
  margin-bottom: 3rem;
}

.formWrapper {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  max-width: 380px;
}

.label {
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
  color: #9FA0A7;
}

.labelRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
}

.inlineError {
  font-size: 0.8rem;
  color: red;
  font-weight: 500;
}

.forgotPassword {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  color: #9FA0A7;
  text-align: right;
}

.forgotPassword a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

.forgotPassword a:hover {
  color: #6DC0C8;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  font-size: .95rem;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px rgba(218, 218, 218, 0.25);
  color: #282C4B;
  outline: none;
}

.input::placeholder {
  color: #9FA0A7;
  font-size: .9rem;
}

.passwordWrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #9FA0A7;
}

.loginBtn {
  margin-top: 1rem;
  padding: 1rem;
  background: #6DC0C8;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0px 14px 40px 0px rgba(143, 185, 189, 0.6);
  transition: 0.3s ease;
}

.loginBtn:hover {
  background: #5bb3ba;
}

.signup {
  margin: 2rem 0 4rem;
  font-size: 0.85rem;
  color: #9FA0A7;
  text-align: center;
}

.signup span {
  color: #FF707F;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.signup a {
  text-decoration: none;
}

.error {
  font-size: 0.8rem;
  color: red;
  text-align: right;
  margin-top: -0.5rem;
}

.right {
  width: 45%;
  min-width: 0;
  height: 100%;
  border-radius: 34px;
  border: 6px solid #FFF;
  background: linear-gradient(0deg, rgba(145, 218, 225, 0.90) 0%, #F3FEFF 75.43%);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .right {
    display: none;
  }

  .left {
    width: 100%;
  }

  .container {
    justify-content: center;
    padding: 2rem 1rem;
  }
}

.backLink {
  font-size: 0.9rem;
  color: #6dc0c8;
  text-align: center;
  margin-top: -1rem;
}

.backLink a {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  color: #6dc0c8;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.backLink a:hover {
  color: #8fd0d6;
  transform: scale(1.02);
}

.arrowIcon {
  font-size: 1rem;
  margin-top: 1px;
}

/* Forgot Password added */
.heading {
  font-size: 2rem;
  color: #6DC0C8;
  font-weight: 700;
  margin: 3rem auto 2rem;
  text-align: left;
}

.subheading {
  font-size: 0.85rem;
  font-weight: 500;
  color: #8b8b93;
  text-align: left;
  margin-bottom: 2.6rem;
  max-width: 380px;
}

.backLink2 {
  font-size: 0.9rem;
  color: #6dc0c8;
  text-align: center;
  margin-top: 3rem;
}

.backLink2 a {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  color: #6dc0c8;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.backLink2 a:hover {
  color: #8fd0d6;
  transform: scale(1.02);
}

.successMessage {
  padding: 1.5rem 1.6rem;
  background-color: #f1fafb;
  border: 2px solid #9cd6db;
  border-radius: 12px;
  text-align: center;
  color: #66a0aa;
  font-size: .95rem;
  font-weight: 500;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04);
  margin-bottom: 1rem;
}